<html>
  <head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-physics-system@1.4.0/dist/aframe-physics-system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@^3.1.1/dist/aframe-template-component.min.js"></script> 
    <script src="/link-controls.js"></script>
    <script src="/scorekeeper.js"></script>
    <script src="/follow.js"></script>
    
    <script id="powerups" type="text/x-nunjucks-template">
      {% for x in range(0, 4) %}
        {% for z in range(0, 10) %}
          <a-box time={{time}} health={{health}} score={{score}} color={{color}}
                dynamic-body

                position="{{ x * 10 - 15 }} 10 {{ z * 10 - 15 }}">
          </a-box>
        {% endfor %}
      {% endfor %}
    </script>
    
    
  </head>
  <body>
    <!--  
        This shows how to import an obj file into your model 
      -->
    <a-scene 
             physics="friction:0.01; restitution: 0.2"
             renderer="antialias:true"
             raycaster="far: 100; objects: [link];" 
             cursor="rayOrigin: mouse" 
             camera-position
    >
      
      <a-assets>
        <a-asset-item id="suzy-obj" crossorigin="anonymous" src="https://cdn.glitch.com/9baeb756-4dfe-40ae-a61f-52b72510282b%2Fsuzaane.obj?v=1602963567447"></a-asset-item>
        <a-asset-item id="suzy-mtl" crossorigin="anonymous" src="https://cdn.glitch.com/9baeb756-4dfe-40ae-a61f-52b72510282b%2Fsuzaane.mtl?v=1602963567402"></a-asset-item>
        <img id="nightsky" crossorigin="anonymous"
             src="https://cdn.glitch.com/9baeb756-4dfe-40ae-a61f-52b72510282b%2Fnightsky.png?v=1603277760890">
        <img id="rock" crossorigin="anonymous"
             src="https://cdn.glitch.com/9baeb756-4dfe-40ae-a61f-52b72510282b%2Frck_2.png?v=1603282127948">
        <img id="sky0"
             src="https://cdn.glitch.com/9baeb756-4dfe-40ae-a61f-52b72510282b%2Fsky0.jpeg?v=1603277733523">
        
      </a-assets>
      
      <a-box time="120" health="100" color="#0000ff"
                dynamic-body
                position="0 5 -10">
          </a-box>

      
      
       <!--  AVATAR with Camera and movement controls -->
      <a-box  id="avbox"
              movement-controls="fly:false"
              link-controls
              scorekeeper="timeleft:500; winscore:35"
              position="0 1 1">

              <a-entity camera
                      look-controls="pointerLockEnabled:true">
              
              <a-entity id="hud"
                  health="10"
                  score="0"
                  text="width:3; value: Start Game!;"
                  position="0 1 -2"
              ></a-entity>
              
              <a-box id="avatar"
                static-body
                
                scale="0.5 4 0.5" position="0 -1 -2" 
                material="color:red; transparent:true; opacity:0.3">
              </a-box>
                            
            </a-entity>
   
      </a-box>
      
      <a-entity template="src: #powerups" 
                data-time="5" 
                data-health="5"
                data-score="7"
                data-color="#00ff00"
                
                ></a-entity>
      
      <a-entity template="src: #powerups" 
                data-time="-5" 
                data-health="-5"
                data-score="-3"
                data-color="#ff0000"
                ></a-entity>
      
      <a-box color="#ffccaa" dynamic-body
             position="-5 5 -10"
             health="10" score="5" time="10"></a-box>
      
      
      <a-box comment="this is an NPC box that follow the avatar"
             color="#ffccaa" 
             position="0 1 -24"
             height="3" width="2" depth="2"
             material="transparent:true; opacity:0.4"
             static-body
             follow="target:#avbox; speed:1"
             health="-100" score="-100" time="10">
        <a-entity obj-model="obj: #suzy-obj; mtl: #suzy-mtl"
                position="0 1 0"
                ></a-entity>
      </a-box>
      

      <a-plane position="0 0 0" rotation="-90 0 0" width="100" height="100" 
               static-body
               material="src:#rock; repeat: 20 20"></a-plane>
      <a-sky color="#FFCCAA"></a-sky>
    </a-scene>
  </body>
</html>